{% extends 'base.html.twig' %}

{% block title %}Fou de séries !
{% endblock %}

{% block body %}

	<div class="container p-3 my-3">
		<div class="jumbotron">
			<center>
				<h1>Fou de séries ?</h1>
				<img src="{{ asset('images/accueil.jpeg') }}"/>
				<p>Tu regardes quoi en ce moment ? Pas de spoil, je ne suis pas à jour...</p>
			</center>
		</div>
	</div>
{% endblock %}
