{% extends 'base.html.twig' %}

{% block title %}Fou de séries !
{% endblock %}

{% block body %}

	<div class="container p-3 my-3">
		<div class="jumbotron">
			<center>
				<h1>Les 4 dernière séries</h1>
				<div class="card" style="width:400px">
					<div class="card-body">
						{% for laSerie in series %}
							<img class="card-img-top" src="{{laSerie.image}}">
							<h5 class="card-title">{{laSerie.titre}}</h5>
							<a href="{{path('laSerie', {'id':laSerie.id})}}" class="btn btn-primary">En savoir plus</a>
							<br>
							<br>
						{% endfor %}
					</div>
				</center>
			</div>
		</div>
	{% endblock %}
