{% extends 'base.html.twig' %}

{% block title %}Fou de séries !
{% endblock %}

{% block body %}

	<div class="container p-3 my-3">
		<div class="jumbotron">
			<ul>
				<li>{{laSerie.id}}</li>
				<li>{{laSerie.titre}}</li>
				<li>{{laSerie.resume}}</li>
			</ul>
		</div>
	</div>
{% endblock %}
