<div class="jumbotron">
	<center>
		<h1>Les genres</h1>
		<br>
		{% for leGenre in lesGenres %}
			<a href="{{path('uneSerieByGenre', {'id':leGenre.id})}}" class="btn btn-primary">{{leGenre.libelle}}</a>
		{% endfor %}
	</center>
</div>
